.highlighted {
  background-color: dimgray;
}

.highlightedInvalid {
  border-color: lightcoral;
}

.view {
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.view td {
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.view th {
   border-width: 1px;
   border-color: black;
   border-style: solid;
 }

.form-group {
  margin-bottom: 4px;
  margin-top: 4px;
}

#search {
  margin-top: 10px;
  margin-bottom: 10px;
}

#sort {
  margin-top: 10px;
  margin-bottom: 10px;
}

#filters {
  margin-top: 10px;
  margin-bottom: 10px;
}
#markFilter {
  margin-top: 4px;
  margin-bottom: 4px;
}
#dobFilter {
  margin-top: 4px;
  margin-bottom: 4px;
}

#queryForm {
  margin-top: 1cm;
  padding: 10px;
  width: 6cm;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
