<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Студенты</title>
</head>
<body>
<div class="viewVar">
  <div id = "search">
    <label id = "searchLabel">Поиск:</label>
    <br/>
    <input type="text" [(ngModel)]="search"/>
  </div>
  <div id = "sort">
    <label id = "sortLabel">Сортировать по </label>
    <select [(ngModel)]="sort">
      <option>None</option>
      <option>ФИО</option>
      <option>Дате рождения</option>
      <option>Среднему баллу</option>
    </select>
    <br/>
    <button (click)="sortStudents()">Выполнить сортировку</button>
  </div>
  <div id = "filters">
    <div id = "dobFilter">
      <label id = "dobFilterLabel">Дата рождения:</label>
      <br/>
      <input type="date" value="{{dobStart}}" [(ngModel)]="dobStart"/>
      <input type="date" value="{{dobFinish}}" [(ngModel)]="dobFinish"/>
    </div>
    <div id = "markFilter">
      <label id = "markFilterLabel">Средняя оценка:</label>
      <br/>
      <input type="number" [(ngModel)]="markStart"/>
      <input type="number" [(ngModel)]="markFinish"/>
    </div>
    <div>
      <button (click)="filterStudents()">Применить фильтры</button>
      <button (click)="resetFilters()">Сбросить фильтры</button>
    </div>
  </div>
</div>
<div>
  <table class = "view">
    <caption>Студенты</caption>
    <tr>
      <th>№</th>
      <th>ФИО</th>
      <th>Дата рождения</th>
      <th>Средняя оценка</th>
      <th></th>
    </tr>
    <tr
      *ngFor="let student of students; let i = index"
      [ngClass]="{highlighted : findStudent(student)}">
      <td>{{i+1}}</td>
      <td>{{student.lname + " " + student.fname + " " + student.patron}}</td>
      <td>{{student.dob.toLocaleString().split(',')[0]}}</td>
      <td>{{student.avgMark}}</td>
      <td>
        <button (click)="deleteStudent(i)">Удалить</button></td>
    </tr>

  </table>
</div>
<app-form (buttonClick)="Send($event)"></app-form>
</body>
</html>

